Repository AEGIS-GAME/aegis, pull requests merged in 2025-08, with the labels that each got.

#245 test: direction tests
  pyproject.toml
  src/_aegis/common/direction.py
  src/_aegis/common/location.py
  tests/__init__.py
  tests/test_direction.py
  tests/test_location.py
  uv.lock
Labels: aegis

#257 fix(client): resolve app icon display issues
  client/package.json
  client/src-electron/main.ts
  client/src/assets/goobs/goob.ico
Labels: client

#274 feat(types): added agent types
  config/config.yaml
  config/presets/competiton-versus.yaml
  config/presets/multi-agent-assignment.yaml
  config/presets/pathfinding-assignment.yaml
  src/_aegis/agent.py
  src/_aegis/agent_controller.py
  src/_aegis/agent_type.py
  src/_aegis/cli_scripts/stub_generator.py
  src/_aegis/full_stub.py
  src/_aegis/game.py
  src/_aegis/templates/comp/config/config.yaml
  src/_aegis/templates/mas/config/config.yaml
  src/_aegis/templates/path/config/config.yaml
  src/_aegis/types/others.py
  src/aegis/__init__.py
Labels: aegis

#275 refactor(stub gen): refactor the file and how it parses
  pyproject.toml
  src/_aegis/api/__init__.py
  src/_aegis/api/core.py
  src/_aegis/api/decorator.py
  src/_aegis/cli.py
  src/_aegis/cli_scripts/stub_generator.py
  src/aegis/stub.py
Labels: aegis

#289 fix(client): multiple agents in a cell
  client/src/core/Agents.ts
  client/src/services/websocket.ts
  worlds/ExampleWorld.world
Labels: client

#293 fix(init): get the proper latest release with new updated CI
  src/_aegis/cli_scripts/client_installer.py
Labels: aegis

#297 chore(names): replace cpsc 383 with aegis
  README.md
  pyproject.toml
  src/_aegis/cli_scripts/client_installer.py
  uv.lock
Labels: aegis

#304 fix(client): fixed agent num field and also improved NumberInput
  client/src/components/NumberInput.tsx
  client/src/components/sidebar/Aegis.tsx
Labels: client

#302 fix(messages): messages sent on N can be read starting from N + 1
  src/_aegis/agent.py
  src/_aegis/game.py
  src/_aegis/message_buffer.py
Labels: aegis

#309 feat(client): client can run game when not launched from terminal.
  client/src-electron/main.ts
Labels: client

#312 feat(client): refactor client config
  client/src-electron/main.ts
  client/src/components/editor/Brush.tsx
  client/src/components/sidebar/Aegis.tsx
  client/src/components/sidebar/Settings.tsx
  client/src/services/config.ts
  client/src/services/scaffold.ts
  client/src/types/extra.types.ts
  client/src/utils/util.ts
  config/config.yaml
Labels: client

#319 chore: need updated spawning mechanics to test w
  .github/workflows/client-ci.yml
  .gitignore
  client/package.json
  client/src-electron/main.ts
  client/src-electron/preload.ts
  client/src/components/Console.tsx
  client/src/components/editor/Editor.tsx
  client/src/components/sidebar/Aegis.tsx
  client/src/services/aegis-api.ts
  client/src/services/scaffold.ts
  src/_aegis_game/cli.py
  src/_aegis_game/game.py
  src/_aegis_game/play.py
  worlds/needs-4-agent.world
Labels: client, aegis

#323 feat(client): cell view in client
  client/src-electron/main.ts
  client/src/App.tsx
  client/src/components/CellView.tsx
  client/src/components/Console.tsx
  client/src/components/controls-bar/Timeline.tsx
  client/src/components/dnd/Layer.tsx
  client/src/components/dnd/LayerEditor.tsx
  client/src/components/dnd/LayerItem.tsx
  client/src/components/dnd/LayerList.tsx
  client/src/components/info-panel/Info-panel.tsx
  client/src/components/sidebar/Aegis.tsx
  client/src/components/sidebar/Game.tsx
  client/src/components/sidebar/Settings.tsx
  client/src/components/sidebar/Sidebar.tsx
  client/src/components/ui/animated-container.tsx
  client/src/components/ui/badge.tsx
  client/src/components/ui/empty-state.tsx
  client/src/components/ui/error-message.tsx
  client/src/core/Agents.ts
  client/src/core/Listeners.ts
  client/src/core/Renderer.ts
  client/src/hooks/useRound.ts
  client/src/hooks/useSelectedTile.ts
  client/src/store/useAppStore.ts
  src/_aegis_game/agent.py
  src/_aegis_game/logger.py
  worlds/need-4-agent.world
Labels: client, aegis

#325 refactor(client): new UI changes
  client/.prettierignore
  client/package.json
  client/src/App.tsx
  client/src/components/Console.tsx
  client/src/components/sidebar/Settings.tsx
  client/src/components/sidebar/SettingsModal.tsx
  client/src/components/sidebar/Sidebar.tsx
  client/src/components/ui/modal.tsx
  client/src/types/extra.types.ts
Labels: client
